{% extends 'base.html' %} {% block title %}FAQ{% endblock %} {% block body %}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">What is a ticker ?</h5>
        <p class="card-text">A ticker symbol or stock symbol is an abbreviation used to uniquely identify publicly traded shares of a particular stock on a particular stock market. In short, ticker symbols are arrangements of symbols or characters representing specific assets
            or securities listed on a stock exchange or traded publicly.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>

<!-- 
<P>
    <div>
    What is a ticker ?
</div>
<div>
    A ticker symbol or stock symbol is an abbreviation used to uniquely identify publicly traded shares of a particular stock on a particular stock market. In short,
    ticker symbols are arrangements of symbols or characters representing specific assets or securities listed on a stock exchange or traded publicly.
</div>

</P> -->

{% endblock %}